.contact {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contactInfo p {
  letter-spacing: 1px;
}

.contactInfo {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contactInfo:before {
  content: '';
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid var(--main-color);
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.85;
}
.title {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.info {
  padding: 20px 0;
}
.info div {
  color: #555;
  font-size: 0.95rem;
  line-height: 0.7;
}

.info img {
  width: 28px;
  width: 23px;
  margin-right: 0.7rem;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.socialMedia {
  padding-top: 2rem;
}

.socialIcons {
  display: flex;
  margin-top: 0.5rem;
}

.socialIcons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, var(--main-color), #394b71);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.socialIcons a:hover {
  transform: scale(1.05);
}

.contactForm {
  background-color: var(--main-color);
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.3rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: white;
  color: var(--secondary-color);
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contactInfo:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contactForm:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .socialMedia {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 1.5rem;
  }

  .contactInfo:before {
    display: none;
  }

  form,
  .contactInfo {
    padding: 1.7rem 1.6rem;
  }

  .socialMedia p {
    font-size: 0.8rem;
  }

  .socialIcons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
