.landing {
  position: relative;
  overflow: hidden;
  background-color: rgb(13 27 59 / 0.8);
  z-index: 1;
  min-height: 100vh;
}

.backgroundImage {
  background-image: url(/wallpaperflare.com_wallpaper\ 3\ .jpg);
  z-index: -5;
}

.handAnimation {
  position: absolute;
  width: 568px;
  height: 622px;
  background-image: url(/image/logo1.png);
  bottom: -100%;
  left: 30%;
  animation: show0 2s forwards, show1 3s forwards 3s;
}
.handAnimation::after {
  content: '';
  position: absolute;
  width: 568px;
  height: 622px;
  background-image: url(/image/logo2.png);
  left: 0;
  z-index: -1;
}
@keyframes show0 {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes show1 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    left: 50%;
    width: 0;
  }
}

.header {
  color: white;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 2;
  text-transform: uppercase;
  position: absolute;
  top: 40vh;
  left: -100%;
  font-size: 60px;
  animation: show2 2s forwards 3s;
}

@keyframes show2 {
  form {
    left: -100%;
  }
  to {
    left: 5%;
  }
}

.logo {
  position: absolute;
  left: -100%;
  animation: logo 2s forwards 3s;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo span {
  font-size: 25px;
  font-weight: 1000;
  color: white;
  letter-spacing: 2px;
  margin-top: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.logo img {
  max-width: 80px;
  margin-left: 25px;
  margin-top: 20px;
}
@keyframes logo {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.login {
  position: absolute;
  top: -100%;
  right: 5%;
  animation: show3 2s forwards 2.5s;
  margin-top: 40px;
  margin-right: 20px;
}
@keyframes show3 {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.login a {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
}

.landing .goDown {
  transform: translateX(-50%);
  font-size: 30px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  color: var(--secondary-color);
  animation: show6 2s infinite;
}
@keyframes show6 {
  from {
    bottom: 25px;
  }
  to {
    bottom: 0%;
  }
}

@media (max-width: 850px) {
  .header {
    font-size: 3.5em;
    letter-spacing: 5px;
    line-height: 2;
    animation: show2 2s forwards;
  }

  .logo {
    animation: logo 2s forwards;
  }
  .logo span {
    font-size: 26px;
    letter-spacing: 2px;
  }
  .logo img {
    max-width: 60px;
  }

  .login {
    margin-top: 30px;
    margin-right: 5px;
    animation: show3 2s forwards;
  }
  .login a {
    font-size: 22px;
    height: 45px;
    width: 120px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 2em;
    animation: show2 1s forwards;
  }

  .handAnimation {
    display: none;
  }
  .logo {
    animation: logo 1s forwards;
  }
  .logo span {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .logo img {
    max-width: 40px;
  }

  .login {
    margin-top: 20px;
    margin-right: 5px;
    animation: show3 1s forwards;
  }
  .login a {
    font-size: 16px;
    height: 40px;
    width: 100px;
  }
}
