/** @format */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cairo, sans-serif;
}

:root {
  --main-color: #0d1b3b;
  --socondary-color: #ffaa01;
}


html {
  scroll-behavior: smooth;
}
.landing {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(13 27 59 / .8);
  z-index: 1;
  min-width: 100%;
}

.landing-image{
  z-index: -5;
  background-image: url(../../../public/wallpaperflare.com_wallpaper\ 3\ .jpg);
  height: 100vh;
  width: 100%;
}

.box1 {
  position: absolute;
  width: 568px;
  height: 622px;
  background-image: url(../../assets/image/logo1.png);
  bottom: -100%;
  left: 30%;
  animation: show0 2s forwards, show1 3s forwards 3s;
}
.box1::after {
  content: "";
  position: absolute;
  width: 568px;
  height: 622px;
  background-image: url(../../assets/image/logo2.png);
  left: 0;
  z-index: -1;
}
@keyframes show0 {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes show1 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    left: 50%;
    width: 0;
  }
}
.box2 {
  height: auto;
  width: auto;
  font-family: "Bahnschrift Condensed";
  color: white;
  font-size: 5em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  top: 40vh;
  left: 100px;
  overflow: hidden;
  letter-spacing: 10px;
}
.box2 .text1 {
  position: relative;
  left: -100%;
  animation: show2 2s forwards 3s;
  color: var(--socondary-color);
  font-weight: 900;
  font-size: 60px;
  color: white;
}
@keyframes show2 {
  form {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.landing .box3 {
  overflow: hidden;
}

.landing .box3 .logo--image{
  position: absolute;
  left: -100%;
  animation: logo 2s forwards 3s;
  display: flex;
  align-items: center;
  gap: 20px;
}

.landing .box3 .logo--image span{
  font-size: 25px;
  font-weight: 1000;
  color: white;
  letter-spacing: 2px;
  margin-top: 20px;
}

.landing .box3 .logo--image img{
  
  max-width: 80px;
  margin-left: 25px;
  margin-top: 20px;

}

.box3 .container{
  width: 100%;
  position: absolute;
  top: -100%;
  animation: show3 2s forwards 2.5s;
}
@keyframes show3 {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes logo {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.menu {
  font-family: "Behnschrift Condensed";
  font-size: 14px;
  color: white;
  margin-top: 40px;
  margin-right: 20px;
  float: right;
  width: fit-content;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.menu ul li {
  cursor: pointer;
  width: 180px;
  text-align: center;
  transition: 0.4s;
  border-radius: 10px;
}
.menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: var(--socondary-color);
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 20px;
}
.menu .login {
  margin-left: 125px;
}

.menu .login a{
 color: white;
 background-color: var(--socondary-color);
 border-radius: 10px;
}

.menu ul li:hover {
  background-color: var(--socondary-color);
  border-radius: 10px;
  transition-delay: 0.1s;
}
.menu ul li a:hover {
  color: white;
  margin: auto;
  flex: 1;
}
.landing .go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  color: var(--socondary-color);
  bottom: -100%;
  animation: show6 2s forwards 2.5s;
  font-size: 30px;
}
@keyframes show6 {
  from {
    bottom: -100%;
  }
  to {
    bottom: 25px;
  }
}
.landing .go-down:hover {
  bottom: 30px;
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
  padding-bottom: 20px;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-20%);
  }
}
/** @format */
/* about us style  */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #243762;
  --socondary-color: #ffaa01;
}

.about-image{
  z-index: -5;
  background-image: url(../../../public/wallpaperflare.com_wallpaper\ 2.jpg);
  height: 100vh;
  width: 100%;
}

.about{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(13 27 59 / .9);
}

.about .container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.about .about-content{
  float: left;
  width: 55%;
}

.about .image{
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .image img{
  width: 150px;
  height: auto;
}
.about .image h1{
  color: white;
  text-align: center;
  margin: auto;
  padding: 30px 0;
  letter-spacing: 5px;
  font-weight: 900;
}


.about .about-content .title{
  text-transform: uppercase;
  font-size: 28px;
  color: var(--socondary-color);
}

.about .about-content .content h3{
  margin-top: 20px;;
  font-size: 24px;
  color: white;
}
.about .about-content .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: #DDD;
    letter-spacing: 1.5px;
    line-height: 1.7;
    
  }
  .about .about-content .content .button{
    padding-top: 20px;
  }
  .about .about-content .content .button a{
    background: linear-gradient(to right, rgb(255 255 255)50%, var(--socondary-color)50%);
    background-position: right bottom;
    cursor: pointer;
    border: none;
    background-size: 200% 100%;
    transition: .6s;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
    border-radius: 10px;
  }
  .about .about-content .content .button a:hover{
    background-position: left bottom;
    color: var(--socondary-color);
  }

  .about-content .social{
    margin: 20px 0  ;
    display: flex;
    /* gap: 30px; */
    width: 170px;
    justify-content: space-between;
  }
  .about-content .social a{
    text-decoration: none;
    color: white;
    gap:20px ;
    font-size: 25px;
    transition: .3s;
  }


  .about-content .social a:hover{
    color: var(--socondary-color);
    transition: .3s;
  }