.landing {
  position: relative;
  overflow: hidden;
  background-color: rgb(13 27 59 / 0.8);
  z-index: 1;
  min-height: 100vh;
}

.background-image {
  background-image: url(./wallpaperflare.com_wallpaper\ 3\ .jpg);
  z-index: -5;
}

.hand-animation {
  position: absolute;
  width: 568px;
  height: 622px;
  background-image: url(./image/logo1.png);
  bottom: -100%;
  left: 30%;
  animation: show0 2s forwards, show1 3s forwards 3s;
}
.hand-animation::after {
  content: '';
  position: absolute;
  width: 568px;
  height: 622px;
  background-image: url(/image/logo2.png);
  left: 0;
  z-index: -1;
}
@keyframes show0 {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes show1 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    left: 50%;
    width: 0;
  }
}

.header {
  color: white;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 2;
  text-transform: uppercase;
  position: absolute;
  top: 40vh;
  left: -100%;
  font-size: 60px;
  animation: show2 2s forwards 3s;
}

@keyframes show2 {
  form {
    left: -100%;
  }
  to {
    left: 5%;
  }
}

.logo {
  position: absolute;
  left: -100%;
  animation: logo 2s forwards 3s;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo span {
  font-size: 25px;
  font-weight: 1000;
  color: white;
  letter-spacing: 2px;
  margin-top: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.logo img {
  max-width: 80px;
  margin-left: 25px;
  margin-top: 20px;
}
@keyframes logo {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.login {
  position: absolute;
  top: -100%;
  right: 5%;
  animation: show3 2s forwards 2.5s;
  margin-top: 40px;
  margin-right: 20px;
}
@keyframes show3 {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.login a {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
}

.landing .go-down {
  transform: translateX(-50%);
  font-size: 30px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  color: var(--secondary-color);
  animation: show6 2s infinite;
}
@keyframes show6 {
  from {
    bottom: 25px;
  }
  to {
    bottom: 0%;
  }
}

/* about us style  */
.about-image {
  z-index: -5;
  background-image: url(./wallpaperflare.com_wallpaper\ 2.jpg);
  height: 100vh;
  width: 100%;
}

.about {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(13 27 59 / 0.9);
}

.about .container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.about .about-content {
  float: left;
  width: 55%;
}

.about .image {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .image img {
  width: 150px;
  height: auto;
}
.about .image h1 {
  color: white;
  text-align: center;
  margin: auto;
  padding: 30px 0;
  letter-spacing: 5px;
  font-weight: 900;
}

.about .about-content .title {
  text-transform: uppercase;
  font-size: 28px;
  color: var(--secondary-color);
}

.about .about-content .content h3 {
  margin-top: 20px;
  font-size: 26px;
  color: white;
}
.about .about-content .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #ddd;
  line-height: 1.7;
}
.about .about-content .content .button {
  padding-top: 20px;
}
.about .about-content .content .button a {
  background: linear-gradient(
    to right,
    rgb(255 255 255) 50%,
    var(--secondary-color) 50%
  );
  background-position: right bottom;
  cursor: pointer;
  border: none;
  background-size: 200% 100%;
  transition: 0.6s;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  letter-spacing: 1.5px;
  border-radius: 10px;
}
.about .about-content .content .button a:hover {
  background-position: left bottom;
  color: var(--secondary-color);
}

.about-content .social {
  margin: 20px 0;
  display: flex;
  /* gap: 30px; */
  width: 170px;
  justify-content: space-between;
}
.about-content .social a {
  text-decoration: none;
  color: white;
  gap: 20px;
  font-size: 25px;
  transition: 0.3s;
}

.about-content .social a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}
