*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';
}

.search .container {
    width: 400px;
    height: 40px;
    position: relative;
    margin-bottom: 25px;
}

.search button{
    background-color: transparent;
    position: absolute;
    border: none;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.search input{
    height: 40px;
    width: 400px;
    border-radius: 40px;
    padding-left: 20px;
    border: 1px solid #DDD;
}


.search input:focus{
    outline-style: none;
}