.attendance {
  padding: 20px;
}

.attendance h3 {
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.attendance--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attendance--title .ends {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.attendance--title .ends select {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  background-color: var(--socondary-color);
  border: none;
  color: white;
  margin-left: 30px;
}

.attendance--title .ends select:focus {
  outline-style: none;
}

.attendance--title .ends .day {
  border: 1px solid #ddd;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.donat--container {
  display: flex;
  border: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  height: 150px;
  border-radius: 20px;
  position: relative;
}
.donat--container h4 {
  position: absolute;
  right: 40px;
}
.donate .skills {
  width: 140px;
  height: 140px;
  position: relative;
  left: -40px;
}

.skills .outer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 20px;
}
.skills .inner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

#number {
  font-size: 30px;
  font-weight: 700;
  color: #555;
}

.circle1 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  animation: circle1 2s linear forwards;
}
.circle2 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  animation: circle2 2s linear forwards;
}
.circle3 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  animation: circle3 2s linear forwards;
}
.circle4 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  animation: circle4 2s linear forwards;
}

.skills svg {
  position: absolute;
  top: 0;
  left: 0;
}

.search-box {
  display: flex;
}

@keyframes circle1 {
  100% {
    stroke-dashoffset: 275;
  }
}
@keyframes circle2 {
  100% {
    stroke-dashoffset: 12.5;
  }
}
@keyframes circle3 {
  100% {
    stroke-dashoffset: 150;
  }
}
@keyframes circle4 {
  100% {
    stroke-dashoffset: 262;
  }
}
