.daily-report {
  padding: 50px;
}

.daily-report--header {
  padding: 30px 0;

  padding: 20px;
  grid: 20px;
}

.card-violation-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  grid-gap: 15px;
  /* padding: 11px; */
}
.card-violation {
  display: flex;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  /* justify-content: center; */
  align-items: center;
  width: 240px;
  height: 120px;
  /* margin: 15px; */
  border-radius: 25px;
  position: relative;
}

.card-violation .mistake {
  width: 100%;
  /* text-align: center; */
  padding: 10px;
}

.card-violation--number {
  font-size: 38px;
  font-weight: 700;
  /* padding-top: 5px; */
  justify-self: right;

  /* left: auto; */
  /* color: #000000; */
}
.card-violation--text {
  font-size: 13px;
  font-weight: 700;
  /* padding-bottom: 5px; */
  /* color: #000000; */
  /* right: 0; */
  justify-self: center;
}
.card-violation--img {
  background-color: white;
  /* size: 10px; */
  width: 90px;
  /* height: 40px; */
  /* border-radius: 10px; */
  /* display: flex; */
}
.status-box {
  display: grid;
  gap: 20px;
  width: 100%;
}
.status-siola {
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 0px #ddd;
  width: 100%;
  height: 140px;
  display: grid;
  border-radius: 20px;
}
.status-violation--header {
  font-size: 15px;
  font-weight: 700;
  /* color: #000000; */
  /* text-align: start; */
}
.status-violation--info {
  font-size: 12px;
  font-weight: 100;
  /* color: #000000; */
  /* text-align: start; */
}
.bold {
  font-weight: bolder;
  font-weight: 900;
}
.critcal_container {
  width: 200px;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.critcal_header {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  text-align: start;
  justify-content: start;
}

.critcal-level {
  display: flex;
  /* padding: 5px; */
  width: 25px;
  height: 18px;
  border-radius: 5px;
  position: relative;
}
.critcal-level__active {
  background-color: #01ff63;
}
.critcal-level__inactive {
  background-color: #f3ecec;
}
