.popup--add-employee {
  background: linear-gradient(0deg, var(--main-color), #394b71);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  position: fixed;
  top: 5px;
  left: 50%;
  border-radius: 20px;
}

.BOX {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: center;
}

.BOX1 {
  text-align: center;
  width: 45%;
}

.popup--add-employee label {
  color: white;
}

.popup--add-employee h1 {
  font-size: 25px;
  margin: 15px 0;
  color: var(--socondary-color);
}

.popup--add-employee input,
.popup--add-employee select {
  width: 90%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.popup--add-employee input,
.popup--add-employee select:focus {
  outline-style: none;
}

.popup--add-employee Button {
  color: white;
  background-color: var(--socondary-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 40%;
  height: 40px;
  margin: 0 15px 20px 15px;
}
.close-and-add {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup--filter {
  background: linear-gradient(0deg, var(--main-color), #394b71);
}

/************************************************************* Popu-Filter******************************************************************** */

.popup--filter{

  background: linear-gradient(0deg, var(--main-color), #394b71);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  position: fixed;
  top: 100px;
  left: 50%;
  border-radius: 20px;

}

.popup--filter h1{
  font-size: 25px;
  margin: 15px 0;
  color: var(--socondary-color);
}

.popup--filter label{
  color: white;
}

.popup--filter select{
  width: 50%;
  margin-left: 50px;
  border-radius: 5px;
  padding-left: 25px;
}

.popup--filter .department{
  display: flex;
  width: 70%; 
  justify-content: right;
  margin-bottom: 20px;

}

.popup--filter select:focus{
  outline-style: none;
}

.popup--filter Button {
  color: white;
  background-color: var(--socondary-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 40%;
  height: 40px;
  margin: 0 15px 20px 15px ;
}



/********************* popup Edit Details ****************/

.popup-edit-details--popup {
  justify-content: center;
  display: grid;
  background: #f1eded;
  width: 700px;
  height: 350px;
  gap: 10px;
}
.edit-details--popup {
  padding: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  display: grid;
  gap: 30px;
  justify-content: center;
}

.edit-details--popup--info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.edit-details--popup--info input {
  color: black;
  text-align: center;
  display: flex;
  height: 40px;
  width: 300px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-weight: bold;
  position: relative;
}

.edit-details--popup--info input::placeholder {
  color: black;
  text-align: center;
  font-weight: 100;
}
.edit-details--popup--info {
  position: relative;
}
.edit-details--popup--info label {
  position: absolute;
  transform: translateY(-100%);
  left: 20px;
  font-size: 10px;
  letter-spacing: 2px;
  outline-style: none;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
}
.btn-style-edit-details--popup--save {
  padding: 10px 0;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: var(--socondary-color);
  cursor: pointer;
  color: white;
  font-size: 9px;
}
.btn-style-edit-details--popup--cancel {
  padding: 10px 0;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: var(--socondary-color);
  cursor: pointer;
  color: white;
  font-size: 9px;
}
