*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';
}

.searcher{
    padding-right: 50px;
}

.searcher .container {
    width: 400px;
    height: 60px;
    position: relative;
}

.searcher button{
    background-color: transparent;
    position: absolute;
    border: none;
    right: 25px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.searcher input{
    height: 60px;
    width: 400px;
    border-radius: 40px;
    padding-left: 20px;
    border: 1px solid #DDD;
}


.searcher input:focus{
    outline-style: none;
}