.allcams{
    padding: 20px;

}

.header{
display: grid;
grid-template-columns: repeat(2,700px);
grid-template-rows: repeat(9,100px);
}
.selectscale{
    padding-top: 20px;
    padding-left: 600px;
}
#scale{
    background-color: var(--socondary-color);
    border: 1px solid #ddd;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    display: grid;
    
}
.cams{
    display:grid;
    grid-template-columns:repeat(4,340px);
    row-gap: 10px;
    column-gap: 13px;
    padding-top: 10px;
}