* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #0d1b3b;
  --socondary-color: #ffaa01;
}

body {
  font-family: "Cairo", sans-serif;
}
