.log-out--popup {
  background-color: #fff;
  border: 1px solid #ccc;
}

.log-out--popup--message {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--socondary-color);
}

.log-out--popup--confirm {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.log-out--popup--confirm:hover {
  background-color: #d32f2f;
}

.log-out--popup--cancel {
  /* background-color: var(--socondary-color); */
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.log-out--popup--cancel:hover {
  background-color: #dad6d6;
}
