.log-out--popup {
  background-color: #fff;
  border: 1px solid #ccc;
}

.log-out--popup .container{
  display: flex;
  justify-content: center;
  gap: 30px;
}


.log-out--popup--message {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  color: black;
  letter-spacing: 1px;
}

.log-out--popup--confirm {
  background-color: var(--socondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  /* background: linear-gradient(to right, rgb(255 255 255)50%, var(--socondary-color)50%);
  background-position: right bottom; */
  transition: .6s;
  background-size: 200% 100%;
}

.log-out--popup--confirm:hover {
  background-color: var(--main-color);
  color: white;
  /* background-position: left bottom; */
}

.log-out--popup--cancel {
  /* background-color: var(--socondary-color); */
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.log-out--popup--cancel:hover {
  background-color: #dad6d6;
}
